@use "./reset-css@5.0.1.css" as *;
@use "sass:map";
@use "sass:math";

// functions
@function get($value, $bp-grid: $bp-grid) {
 @return map.get($bp-grid, $value);
}

@function to-rem($value) {
 @return calc(
   math.div(
    $value,
    calc($html-default-font-size - ($html-default-font-size * 37.5 / 100))
   )
  ) + rem;
}

@function to-vw($px, $base-vw: get(xxl)) {
 @return math.div(($px * 100vw), $base-vw);
}

// mixin
@mixin media($value, $bp-type: max) {
 @media screen and (#{$bp-type}-width: $value) {
  @content;
 }
}

// variables
$bp-grid: (
 xs: 0,
 sm: 576px,
 md: 768px,
 lg: 992px,
 xl: 1200px,
 xxl: 1800px,
);

$html-default-font-size: 16;

:root {
 font-size: 10px;
 box-sizing: border-box;
}

::selection {
 color: var(--brand-color-1-1);
 background: var(--brand-color-2-1);
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

// html
// body
html,
body {
 width: 100%;
 font-family: var(--ash-context-font-family), sans-serif;
}

// html
html {
 position: relative;
 top: 0;
 left: 0;
 overflow-x: hidden;
 scroll-behavior: smooth;
 min-height: 100%;
 display: flex;
}

// body
body {
 -webkit-font-smoothing: antialiased;
 text-decoration-skip: objects;
 text-rendering: optimizeLegibility;
 text-size-adjust: 100%;
 -webkit-tap-highlight-color: transparent;
}

p {
 margin: 0;
}

a,
button {
 outline: none;
 cursor: pointer;
}

// .wrapper
.wrapper {
 margin: 0 auto;
 min-height: 100%;
 display: flex;
}

// .ash-slide
.ash {
 // .ash-slide
 &-slide {
  max-width: var(--ash-slide--max-width);
  min-height: var(--ash-slide--min-height);
  border-radius: var(--ash-slide--border-radius);
  margin: 0 auto;
  overflow: hidden;
  font-size: 0;

  // .ash-slide__list
  &__list {
   display: flex;
   width: 100%;
  }

  // .ash-slide__item
  &__item {
   position: relative;
   top: 0;
   left: 0;
  }

  // .ash-slide__item-bg-img
  &__item-bg-img {
   position: relative;
   top: 0;
   left: 0;
   width: 100% !important;
   height: auto !important;
   object-fit: cover;
   min-height: 250px;
  }

  // .ash-slide__content
  &__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   min-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   padding: 60px 60px 0 60px;

   @include media(get(xxl)) {
    // prettier-ignore
    padding: clamp(35px, to-vw(60px), 60px) clamp(35px, to-vw(60px), 60px) 0 clamp(35px, to-vw(60px), 60px);
   }
  }
 }

 // .ash-cat-tag
 &-cat-tag {
  color: var(--brand-color-1-1);
  font-weight: 700;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 1px;
  letter-spacing: 0.5px;
  text-decoration: none;

  // .ash-cat-tag__label
  &__label {
   text-decoration: none;
  }

  // .ash-cat-tag__line
  &__line {
   background-color: var(--brand-color-1-1);
   text-decoration: none;
   width: 60px;
   height: 1px;
   margin-left: 10px;
   margin-right: 6px;
   display: block;
  }
 }

 // .ash-headline
 &-headline {
  color: var(--brand-color-1-1);
  font-family: var(--ash-headline-font-family), sans-serif;
  display: block;
  max-width: 717px;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.2px;
  margin-top: 9px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @include media(get(xxl)) {
   max-width: clamp(400px, to-vw(717px), 717px);
   font-size: clamp(35px, to-vw(60px), 60px);
  }
 }

 // .ash-btn
 &-btn {
  color: var(--brand-color-1-1);
  font-family: var(--ash-context-font-family), sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background: #262626;
  border-radius: 6px;
  border: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  z-index: 10;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 60px;
  @include media(get(xxl)) {
   padding: clamp(10px, to-vw(20px), 20px) clamp(25px, to-vw(50px), 50px);
  }
  &__label {
   white-space: nowrap;
  }
 }

 // .ash-btn-pagination
 &-pagination {
  display: flex;
  justify-content: flex-end;
 }

 // .ash-btn__circle-btn
 &__circle-btn {
  text-decoration: none;
 }

 // .ash-circle-btn
 &-circle-btn {
  $this: &;
  display: block;
  width: 62px;
  height: 62px;

  @include media(get(xxl)) {
   width: clamp(45px, to-vw(62px), 62px);
   height: clamp(45px, to-vw(62px), 62px);
  }

  border: 2px solid transparent;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  &--current {
   border: 2px solid rgba(255, 255, 255, 0.3);
  }

  // .ash-circle-btn__inner
  &__inner {
   font-family: var(--ash-context-font-family), sans-serif;
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   display: flex;
   text-align: center;
   color: var(--brand-color-3-1);
   background-color: var(--brand-color-1-1);
   overflow: hidden;

   @include media(get(xxl)) {
    font-size: clamp(13px, to-vw(18px), 18px);
   }
  }

  // .ash-circle-btn--current
  &--current {
   text-decoration: none;
  }
 }

 // .ash-group--flex
 &-group {
  &--flex {
   text-decoration: none;
   display: flex;
   justify-content: space-between;
  }
 }
}
